%h1 Your Lists

%p
  Add a table to your Status Board and use the list url below as the data url.
%table
  %tr
    %th List Name
    %th URL
  - @lists.each do |list|
    %tr
      %td
        = list['title']
      %td
        = "#{root_url}users/#{current_user.id}/lists/#{list['id']}"